:root {
  --background-color: #F5F5F5;
  --title-color: #2B283A;
  --para-color: #4A4E74;
  --subtitle-color: #2B283A;
  --gold-color: #F47D27;
  --footer-color:  #D5D4D8;
}

.card--container{
  padding: 53px;
  text-align: center;
}

.card--profile{
  background: var(--background-color);
  border-radius: 10px 10px 10px 10px;
  width: 317px;
}

.card--hero-banner{
  margin-bottom: 21px;
}

.card--profile-img{
  width: 317px;
}

/* font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit; */

.card--info{
  margin-bottom: 33px;
}

.card--profile-info-name{
  font: normal 700 25px/30px 'Inter';
  color: var(--title-color);
  margin-bottom: 4px;
}

.card--profile-info-title{
  font: normal 400 13px/15px 'Inter';
  color: var(--gold-color);
  margin-bottom: 8px;
}

.card--profile-info-website{
  font: normal 400 10px/15px 'Inter';
  color: var(--subtitle-color);
  margin-bottom: 15px;
}

.card--contact-cta{
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.card--email-btn{
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  width: 115px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.card--linkedin-btn{
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 11px;
  width: 115px;
  height: 34px;
  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.card--content-section{
  padding: 0 30px;
  margin-bottom: 24px;
}

.card--content-section h2{
  font: normal 700 16px/150% 'Inter';
  text-align: left;
  color: var(--subtitle-color);
  margin-bottom: 5px;
}

.card--content-section p{
  font: normal 400 10px/150% 'Inter';
  text-align: left;
  color: var(--para-color);
}

footer{
  background: var(--footer-color);
  border-radius: 0px 0px 10px 10px;
  height: 64px;
}

.card--social-icons{
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 18px 0;
  justify-content: center;
}

.card--social-icons img{
  align-items: center;
  cursor: pointer;
}

.dark-mode {
  --background-color: #1A1B21;
  --title-color: #fff;
  --para-color: #DCDCDC;
  --subtitle-color: #F5F5F5;
  --gold-color: #F3BF99;
  --footer-color: #161619;

}